<!DOCTYPE html>
<html dir="rtl" lang=ar>
<head>
    <meta property="x-last-update" content="{{ last_update_date }}">
    <title>بازار كازا - توفير و توصيل منتجات الجملة إلى موريتانيا</title>
    <meta name="author" content="Bazarcasa">
    <meta name="copyright" content="Bazarcasa">
    <meta name="robots" content="index, follow">

    <link rel="icon" type="image/webp" href="/img/logo.webp">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="ar">
    <meta property="og:type" content="website">

    <meta name="description"
          content="بازار كازا - متخصصون في توفير و توصيل منتجات الجملة إلى موريتانيا
          نحن متخصصون في إمدادات الجملة لمجموعة متنوعة من المنتجات">
    <meta name="keywords"
          content="توصيل منتجات الجملة من المغرب إلى موريتانيا, موردون الجملة من المغرب في موريتانيا, متخصصون في الجملة من المغرب إلى موريتانيا, بيع الجملة للأعمال من المغرب إلى موريتانيا, منتجات جملة متنوعة من المغرب في موريتانيا, إمدادات تجارية بالجملة من المغرب إلى موريتانيا, خدمات توصيل الجملة من المغرب إلى موريتانيا, موريتانيا بازار الجملة من المغرب, شراء الجملة من المغرب في موريتانيا, تجارة الجملة المتخصصة من المغرب إلى موريتانيا">

    <link rel="canonical" href="https://www.bazarcasa.ma/">
    <meta property="og:site_name" content="Bazarcasa">

    <meta property="og:title" content="بازار كازا - توفير و توصيل منتجات الجملة إلى موريتانيا">
    <meta property="og:description"
          content="بازار كازا - متخصصون في توفير و توصيل منتجات الجملة إلى موريتانيا
          نحن متخصصون في إمدادات الجملة لمجموعة متنوعة من المنتجات">
    <meta property="og:image" content="https://www.bazarcasa.ma/img/logo.webp">
    <meta property="og:url" content="https://www.bazarcasa.ma/">

    <meta property="twitter:title" content="بازار كازا - توفير و توصيل منتجات الجملة إلى موريتانيا">
    <meta property="twitter:description"
          content="بازار كازا - متخصصون في توفير و توصيل منتجات الجملة إلى موريتانيا
          نحن متخصصون في إمدادات الجملة لمجموعة متنوعة من المنتجات">
    <meta property="twitter:image" content="https://www.bazarcasa.ma/img/logo.webp">
    <meta property="twitter:card" content="https://www.bazarcasa.ma/img/logo.webp">
    <meta property="twitter:url" content="https://www.bazarcasa.ma/">
    <meta property="facebook:title" content="بازار كازا - توفير و توصيل منتجات الجملة إلى موريتانيا">
    <meta property="facebook:description"
          content="بازار كازا - متخصصون في توفير و توصيل منتجات الجملة إلى موريتانيا
          نحن متخصصون في إمدادات الجملة لمجموعة متنوعة من المنتجات">
    <meta property="facebook:image" content="https://www.bazarcasa.ma/img/logo.webp">
    <meta property="facebook:card" content="https://www.bazarcasa.ma/img/logo.webp">
    <meta property="facebook:url" content="https://www.bazarcasa.ma/">


    <link rel="stylesheet" href="/style.css">
</head>
<body>


<div class="flex flex-col min-h-screen" style="max-width:1200px; margin:auto;">
    <header class="flex h-16 items-center justify-between px-4 md:px-6">
        <a class="flex items-center gap-2" href="/">
        <span class="text-lg font-semibold">
            <img width="auto" height="150px" style="width:auto;height:150px" src="/img/logo-transparent.webp"
                 alt="Bazarcasa logo"/></span></a>
        <nav class="md:flex gap-6 {% if categories|length > 3 %} hidden {% endif %}">
            <a style="font-weight: bold;
                    {% if None == filter_on_category %}
                        color: #cd8454;
                    {% endif %}
                    " class="text-sm font-medium hover:underline" href="/">
                جميع المنتجات
            </a>
            {% for category in categories %}
                <a style="font-weight: bold; {% if category == filter_on_category %}
                    color: #cd8454;
                {% endif %} " class="text-sm font-medium hover:underline" href="/categories/{{ category }}">
                    {{ cat_map[category] }}
                </a>
            {% endfor %}
        </nav>
    </header>


    <div class="flex flex-col items-center justify-center rounded-md p-4 shadow-md" style="background-color: #ff8f4e45">
        <div class="flex items-center space-x-2">

            <h1 class="text-lg font-semibold text-gray-700">نقوم بالتوصيل إلى موريتانيا</h1>
            &nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="h-6 w-6 text-gray-700">
                <path d="M5 18H3c-.6 0-1-.4-1-1V7c0-.6.4-1 1-1h10c.6 0 1 .4 1 1v11"></path>
                <path d="M14 9h4l4 4v4c0 .6-.4 1-1 1h-2"></path>
                <circle cx="7" cy="18" r="2"></circle>
                <path d="M15 18H9"></path>
                <circle cx="17" cy="18" r="2"></circle>
            </svg>
        </div>
        <p style="text-align: center" class="mt-2 text-sm text-gray-600">يتم احتساب سعر التوصيل اعتمادا على عدد المنتجات
            المطلوبة</p>
        <p style="direction: ltr" class="mt-2 text-sm text-gray-600">
            <span>+212701767623</span>
            <span>رقم الواتساب</span>
        </p>

        <a href="tel:+212701192656"
           style="background-color: #cd8454"
           class="ring-offset-background focus-visible:ring-ring hover:bg-primary/90 mt-4 inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md bg-blue-500 px-4 py-2 text-sm font-medium text-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">تواصل
            معنا على الواتساب</a>
    </div>
    <main class="flex-1">
        {{ by_category_packages | safe }}
    </main>
</div>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link media="screen and (min-width: 1024px)"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap" rel="stylesheet">
<style>
    @media screen and (min-width: 1024px) {
        html, :host {
            font-family: 'Rubik', sans-serif !important;
        }
    }</style>
<script async defer src="https://www.googletagmanager.com/gtag/js?id=G-LXQ2575TKS"></script>
<script async defer src="google-tag.js"></script>

</body>
</html>