<!DOCTYPE html>
<html dir="rtl" lang=ar>
<head>
    <meta property="x-last-update" content="{{ last_update_date }}">
    <title>{{ page_title }}</title>
    <meta name="author" content="Bazarcasa">
    <meta name="copyright" content="Bazarcasa">
    <meta name="robots" content="index, follow">

    <link rel="icon" type="image/webp" href="/img/logo.webp">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="ar">
    <meta property="og:type" content="website">

    <meta name="description" content="بازار كازا - تسوق المنتجات بالجملة واستمتع بالتوصيل السريع إلى موريتانيا">
    <meta name="keywords"
          content="توصيل منتجات الجملة من المغرب إلى موريتانيا, موردون الجملة من المغرب في موريتانيا, متخصصون في الجملة من المغرب إلى موريتانيا, بيع الجملة للأعمال من المغرب إلى موريتانيا, منتجات جملة متنوعة من المغرب في موريتانيا, إمدادات تجارية بالجملة من المغرب إلى موريتانيا, خدمات توصيل الجملة من المغرب إلى موريتانيا, موريتانيا بازار الجملة من المغرب, شراء الجملة من المغرب في موريتانيا, تجارة الجملة المتخصصة من المغرب إلى موريتانيا">

    <link rel="canonical" href="https://www.bazarcasa.ma/">
    <meta property="og:site_name" content="Bazarcasa">

    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:description" content="بازار كازا - تسوق المنتجات بالجملة واستمتع بالتوصيل السريع إلى موريتانيا">
    <meta property="og:image" content="https://www.bazarcasa.ma/img/logo.png">
    <meta property="og:url" content="https://www.bazarcasa.ma/">

    <style>
        html, :host {
            font-family: 'Rubik', sans-serif !important;
        }

        @media all and (max-width: 500px) {
            header {
                justify-content: center !important;
                flex-direction: column !important;
                height: auto !important;
                margin-bottom: 1em;

                a {
                    height: 80px;
                }

                nav a {
                    margin-left: .5em;
                    margin-right: .5em;
                }
            }
        }
    </style>

    <link rel="stylesheet" href="/style.css">
</head>
<body>


<div class="flex flex-col min-h-screen" style="max-width:1200px; margin:auto;">
    <header class="flex h-16 items-center justify-between px-4 md:px-6">
        <a class="flex items-center gap-2" href="/">
        <span class="text-lg font-semibold">
            <img width="150" height="70" style="width:150px;" src="/img/logo.webp"
                 alt="Bazarcasa logo"/></span></a>


        {% if by_category_packages != "" %}
            <nav class="md:flex gap-6">

                <a style="font-weight: bold;
                        {% if None == filter_on_category %}
                            color: #cd8454;
                        {% endif %}
                        " class="text-sm font-medium hover:underline" href="/">
                    جميع المنتجات
                </a>
                {% for category in categories %}
                    <a style="font-weight: bold; {% if category == filter_on_category %}
                        color: #cd8454;
                    {% endif %} " class="text-sm font-medium hover:underline" href="/categories/{{ category }}">
                        {{ cat_map[category] }}
                    </a>
                {% endfor %}
            </nav>
        {% endif %}
    </header>


    <div class="flex flex-col items-center justify-center rounded-md p-4 shadow-md" style="background-color: #ff8f4e45">
        <div class="flex items-center space-x-2">
            <h1 style="text-align: center" class="text-lg font-semibold text-gray-700">بازار كازا - تسوق المنتجات
                بالجملة واستمتع بالتوصيل السريع إلى موريتانيا</h1>
        </div>
        <p style="text-align: center;color: darkgreen" class="mt-2 text-sm ">قد يتغير السعر حسب التغيرات في ظروف النقل
            بين المغرب وموريتانيا</p>
        <b style="text-align: center" class="mt-2 text-sm ">الأسعار بالأوقية القديمة</b>
        <p style="direction: ltr" class="mt-2 text-sm text-gray-600">
            <span>+212663038243</span>
            <span>رقم الواتساب</span>
        </p>
        <p style="direction: ltr" class="mt-2 text-sm text-gray-600">
            <span>contact@bazarcasa.ma</span>
            <span>البريد الإلكتروني</span>
        </p>

        <a target="_blank" href="https://wa.me/+212663038243"
           style="background-color: #335110;font-weight: normal"
           class="ring-offset-background focus-visible:ring-ring hover:bg-primary/90 mt-4 inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md bg-blue-500 px-4 py-2 text-sm font-medium text-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">تواصل
            معنا على الواتساب</a>
    </div>
    <main class="flex-1">
        {{ by_category_packages | safe }}
        {% if by_category_packages == "" %}
            <div style="color: darkgreen;text-align: center;margin-top:2em">
                <h2 class="text-lg font-semibold">سيتم إدراج
                    المنتجات المتوفرة
                    هنا قريبًا</h2>

                <svg style="width: 90px;height: 90px;margin: 1em auto auto;"
                     width="800px" height="800px" viewBox="0 0 1024 1024" class="icon" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M660 103.2l-149.6 76 2.4 1.6-2.4-1.6-157.6-80.8L32 289.6l148.8 85.6v354.4l329.6-175.2 324.8 175.2V375.2L992 284.8z"
                          fill="#FFFFFF"/>
                    <path d="M180.8 737.6c-1.6 0-3.2 0-4-0.8-2.4-1.6-4-4-4-7.2V379.2L28 296c-2.4-0.8-4-4-4-6.4s1.6-5.6 4-7.2l320.8-191.2c2.4-1.6 5.6-1.6 8 0l154.4 79.2L656 96c2.4-1.6 4.8-0.8 7.2 0l332 181.6c2.4 1.6 4 4 4 7.2s-1.6 5.6-4 7.2l-152.8 88v350.4c0 3.2-1.6 5.6-4 7.2-2.4 1.6-5.6 1.6-8 0l-320-174.4-325.6 173.6c-1.6 0.8-2.4 0.8-4 0.8zM48 289.6L184.8 368c2.4 1.6 4 4 4 7.2v341.6l317.6-169.6c2.4-1.6 5.6-1.6 7.2 0l312.8 169.6V375.2c0-3.2 1.6-5.6 4-7.2L976 284.8 659.2 112.8 520 183.2c0 0.8-0.8 0.8-0.8 1.6-2.4 4-7.2 4.8-11.2 2.4l-1.6-1.6h-0.8l-152.8-78.4L48 289.6z"
                          fill="#6A576D"/>
                    <path d="M510.4 179.2l324.8 196v354.4L510.4 554.4z" fill="#121519"/>
                    <path d="M510.4 179.2L180.8 375.2v354.4l329.6-175.2z" fill="#121519"/>
                    <path d="M835.2 737.6c-1.6 0-2.4 0-4-0.8l-324.8-176c-2.4-1.6-4-4-4-7.2V179.2c0-3.2 1.6-5.6 4-7.2 2.4-1.6 5.6-1.6 8 0L839.2 368c2.4 1.6 4 4 4 7.2v355.2c0 3.2-1.6 5.6-4 7.2h-4zM518.4 549.6l308.8 167.2V379.2L518.4 193.6v356z"
                          fill="#6A576D"/>
                    <path d="M180.8 737.6c-1.6 0-3.2 0-4-0.8-2.4-1.6-4-4-4-7.2V375.2c0-3.2 1.6-5.6 4-7.2l329.6-196c2.4-1.6 5.6-1.6 8 0 2.4 1.6 4 4 4 7.2v375.2c0 3.2-1.6 5.6-4 7.2l-329.6 176h-4z m8-358.4v337.6l313.6-167.2V193.6L188.8 379.2z"
                          fill="#6A576D"/>
                    <path d="M510.4 550.4L372 496 180.8 374.4v355.2l329.6 196 324.8-196V374.4L688.8 483.2z"
                          fill="#D6AB7F"/>
                    <path d="M510.4 933.6c-1.6 0-3.2 0-4-0.8L176.8 736.8c-2.4-1.6-4-4-4-7.2V374.4c0-3.2 1.6-5.6 4-7.2 2.4-1.6 5.6-1.6 8 0L376 488.8l135.2 53.6 174.4-66.4L830.4 368c2.4-1.6 5.6-2.4 8-0.8 2.4 1.6 4 4 4 7.2v355.2c0 3.2-1.6 5.6-4 7.2l-324.8 196s-1.6 0.8-3.2 0.8z m-321.6-208l321.6 191.2 316.8-191.2V390.4L693.6 489.6c-0.8 0.8-1.6 0.8-1.6 0.8l-178.4 68c-1.6 0.8-4 0.8-5.6 0L369.6 504c-0.8 0-0.8-0.8-1.6-0.8L188.8 389.6v336z"
                          fill="#6A576D"/>
                    <path d="M510.4 925.6l324.8-196V374.4L665.6 495.2l-155.2 55.2z" fill="#121519"/>
                    <path d="M510.4 933.6c-1.6 0-2.4 0-4-0.8-2.4-1.6-4-4-4-7.2V550.4c0-3.2 2.4-6.4 5.6-7.2L662.4 488l168-120c2.4-1.6 5.6-1.6 8-0.8 2.4 1.6 4 4 4 7.2v355.2c0 3.2-1.6 5.6-4 7.2l-324.8 196s-1.6 0.8-3.2 0.8z m8-377.6v355.2l308.8-185.6V390.4L670.4 501.6c-0.8 0.8-1.6 0.8-1.6 0.8l-150.4 53.6z"
                          fill="#6A576D"/>
                    <path d="M252.8 604l257.6 145.6V550.4l-147.2-49.6-182.4-126.4z" fill="#121519"/>
                    <path d="M32 460l148.8-85.6 329.6 176L352 640.8z" fill="#FFFFFF"/>
                    <path d="M659.2 693.6l176-90.4V375.2L692 480.8l-179.2 68-2.4 1.6z" fill="#121519"/>
                    <path d="M510.4 550.4l148.8 85.6L992 464.8l-156.8-89.6z" fill="#FFFFFF"/>
                    <path d="M352 648.8c-1.6 0-2.4 0-4-0.8l-320-180.8c-2.4-1.6-4-4-4-7.2s1.6-5.6 4-7.2L176.8 368c2.4-1.6 5.6-1.6 8 0l329.6 176c2.4 1.6 4 4 4 7.2s-1.6 5.6-4 7.2L356 648c-0.8 0.8-2.4 0.8-4 0.8zM48 460L352 632l141.6-80.8L180.8 384 48 460z"
                          fill="#6A576D"/>
                    <path d="M659.2 644c-1.6 0-2.4 0-4-0.8L506.4 557.6c-2.4-1.6-4-4-4-7.2s1.6-5.6 4-7.2l324.8-176c2.4-1.6 5.6-1.6 8 0l156.8 90.4c2.4 1.6 4 4 4 7.2s-1.6 5.6-4 7.2L663.2 643.2c-1.6 0.8-2.4 0.8-4 0.8zM527.2 550.4l132.8 76L976 464l-141.6-80-307.2 166.4z"
                          fill="#6A576D"/>
                </svg>
            </div>
        {% endif %}
    </main>
</div>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap" rel="stylesheet">
<script async defer src="https://www.googletagmanager.com/gtag/js?id=G-LXQ2575TKS"></script>
<script async defer src="google-tag.js"></script>

<style>.carousel {
    position: relative;
    max-width: 300px;
    margin: auto;
}

.carousel-images {
    display: flex;
    overflow: hidden;
}

.carousel-image {
    max-width: 100%;
    display: none; /* Hide all images initially */
}

.carousel-button {
    position: absolute;
    visibility: hidden;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-arrow, .right-arrow {
    background: white;
    border: 1px solid grey;
    padding: 2px;
    border-radius: 5px;
    color: grey;
}

.left-arrow svg, .right-arrow svg {
    width: 24px;
    height: 24px;
}

.left-arrow {
    left: 5px;
}

.right-arrow {
    right: 5px;
}

</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let currentIndex = 0;
        const carousels = document.querySelectorAll('.carousel');
        carousels.forEach(carousel => {

            const images = carousel.querySelectorAll('.carousel-image');
            const totalImages = images.length;
            images[currentIndex].style.display = 'block'; // Show first image

            carousel.querySelector('.left-arrow').addEventListener('click', function () {
                images[currentIndex].style.display = 'none'; // Hide current image
                currentIndex = (currentIndex - 1 + totalImages) % totalImages;
                images[currentIndex].style.display = 'block'; // Show new image
            });

            carousel.querySelector('.right-arrow').addEventListener('click', function () {
                images[currentIndex].style.display = 'none'; // Hide current image
                currentIndex = (currentIndex + 1) % totalImages;
                images[currentIndex].style.display = 'block'; // Show new image
            });

        })
    });

</script>

</body>
</html>