<div class="relative group overflow-hidden rounded-lg"><a class="absolute inset-0 z-10" href="#"><span
        class="sr-only">View</span></a><img src="img/logo.png" alt="Product 2" width="400" height="300"
                                            class="object-cover w-full h-60"
                                            style="aspect-ratio: 400 / 300; object-fit: cover;">
    <div class="bg-white p-4 dark:bg-gray-950"><h3 class="font-semibold text-lg md:text-xl">
        {{ product.slug }}
    </h3>
        <p class="text-sm text-gray-500 dark:text-gray-400">BC-000{{ product.id }}</p><h4
                class="font-semibold text-base md:text-lg">{{ price_formatted }}</h4></div>
</div>

