<div class="relative group overflow-hidden rounded-lg" style="width:300px;box-shadow:0 0 2px 0 #000000a1">

    <div class="carousel">
        <div class="carousel-images">
            <img src='
            {% if product.image == "" %}
                /img/placeholder.webp
            {% else %}
                {{ product.image }}
            {% endif %}'
                 alt="{{ product.description }}" width="300" height="300"
                 class="object-cover w-full h-60 carousel-image"
                 style="aspect-ratio: 300 / 300; width:300px; height:300px; object-fit: cover;">
        </div>
        <button class="carousel-button left-arrow">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round" class="feather feather-chevron-left">
                <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
        </button>
        <button class="carousel-button right-arrow">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round" class="feather feather-chevron-right">
                <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
        </button>
    </div>
    <div class="bg-white p-4"><h3 class="font-semibold text-lg md:text-xl">
        {{ product.slug }}
    </h3>
        <p class="text-sm" style="color:darkred">BC-000{{ product.id }}</p>
        <p class="text-sm" style="color: gray"> أقل كمية: {{ product.minimum_quantity }}</p>
        {% if show_price %}
            <h4 style="color:#d27d00" class="font-semibold text-base md:text-lg text-base">
                 {{ price_formatted + " أوقية جديدة" }}</h4>
        {% endif %}
        <p class="text-sm text-gray-500"> {{ product.description }} </p>
    </div>
</div>

